<app-template-b title="Clients" subtitle=" List of all clients">
<app-table-dark *ngIf="collection" [headers]="headers">
  <tr *ngFor="let item of collection">
   <td [appState]="item.state">
     <select (change)="changeStateClient(item, $event)">
       <option *ngFor="let state of states" [value]="state" [selected]="state === item.state">{{ state }}</option>
     </select>
    </td>

        <td>{{ item.tva }}</td>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>

        <td appCaCheck [value]="item.ca" [comparedValue]="100000">{{ item.ca }}</td>

        <td>{{ item.comment }}</td>
        <td><app-btn [label]="btnDelete.label" [action]="btnDelete.action" (clicked)="deleteClient(item)"></app-btn>
        <app-btn [label]="btnUpdate.label" [action]="btnUpdate.action"></app-btn></td>
  </tr>
</app-table-dark>

<app-btn [label]="btnRoute.label" [route]="btnRoute.route"></app-btn>
<app-btn [label]="btnHref.label" [href]="btnHref.href"></app-btn>
<app-btn [label]="btnAction.label" [action]="btnAction.action" (clicked)="openPopup()"></app-btn>
</app-template-b>


<app-text [page]="true">
  <app-template-c></app-template-c>
</app-text>

