<div>
  <app-text>
  <h1>{{ title }}</h1>
  </app-text>
</div>

<ng-content></ng-content>

<!-- <div>
  <app-text>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Donec at ligula libero. Pellentesque malesuada aliquam mi non fermentum.
      Integer finibus, felis vulputate rhoncus accumsan, ipsum libero elementum mi, interdum interdum lorem nulla ac ligula.
      Proin suscipit, felis molestie ultricies scelerisque, lorem libero commodo erat, ut posuere tortor arcu ac dui.
      Penean et vulputate velit. Etiam placerat auctor nisl, in accumsan mauris. Cras eget tristique odio, in laoreet arcu.
      Proin dignissim dictum ex, id hendrerit eros bibendum quis.
    </p>
  </app-text>
</div> -->
